<ion-header>
  <ion-toolbar>
    <ion-title>updateadmin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked"> ID</ion-label>
    <ion-input type="text" fill="outline" disabled [(ngModel)]="ans.id_admin"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Username Admin</ion-label>
    <ion-input type="text" fill="outline" [(ngModel)]="ans.usernameadmin"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password Admin</ion-label>
    <ion-input type="text" fill="outline" [(ngModel)]="ans.passwordadmin"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Name Admin</ion-label>
    <ion-input type="text" fill="outline" [(ngModel)]="ans.nameadmin"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email Admin</ion-label>
    <ion-input type="text" fill="outline" [(ngModel)]="ans.emailadmin"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tel Amin</ion-label>
    <ion-input type="text" fill="outline" [(ngModel)]="ans.teladmin"></ion-input>
  </ion-item>

  
  <ion-item>
    <ion-button (click)="updateAdmin(ans.id_admin)">Update</ion-button>
  </ion-item>
  

  
</ion-content>
