<ion-header>
  <ion-toolbar>
    <ion-title>datauserhead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-row>
      <ion-col><label>ID</label></ion-col>
      <ion-col><label>NAME</label></ion-col>
      <ion-col><label>E-MAIL</label></ion-col>
      <ion-col><label>PHONE NUMBER</label></ion-col>

    </ion-row>

    <ion-row *ngFor='let data of listuser'>
      <ion-col><label>{{data.id_userhead}}</label></ion-col>
      <ion-col><label>{{data.namehead}}</label></ion-col>
      <ion-col><label>{{data.emailhead}}</label></ion-col>
      <ion-col><label>{{data.telhead}}</label></ion-col>



    </ion-row>

  </ion-card>
</ion-content>
