<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card text-left>
    <ion-row>
    </ion-row>
    <ion-row>
      <ion-input disabled [(ngModel)]="ans.usernameadmin">คุณ</ion-input>
      <ion-button (click)="getid(ans.id_admin)">edit</ion-button>
    </ion-row>

  </ion-card>

  <ion-card text-left>
    <ion-row>
      <ion-col><label>USER</label></ion-col>
    </ion-row>
    <ion-row>
      <label>ข้อมูลผู้ใช้</label>
      <ion-button routerLink="/datauser">see</ion-button>
    </ion-row>
    <ion-row>
      <label>เพิ่มผู้ใช้</label>
      <ion-button routerLink="/registeruser">add</ion-button>
    </ion-row>

  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col><label>USERHEAD</label></ion-col>
    </ion-row>
    <ion-row>
      <label>ข้อมูลผู้ใช้</label>
      <ion-button routerLink="/datauserhead">see</ion-button>
    </ion-row>
    <ion-row>
      <label>เพิ่มผู้ใช้</label>
      <ion-button routerLink="/registeruserhead">add</ion-button>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-button routerLink="/datapass">เพิ่มข้อมูลภาระงาน</ion-button>
    <ion-button routerLink="/list">ดูตารางภาระงาน</ion-button>
    <ion-button routerLink="/timetable">ตารางปฏิบัติงาน</ion-button>
  </ion-card>


</ion-content>