<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center padding>ระบบการจัดการผลิตผลทางการพยาบาล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



  <ion-card text-center color="light">
    <ion-input padding placeholder="USERNAME"></ion-input>
  </ion-card>

  <ion-card text-center color="light">
    <ion-input padding placeholder="PASSWORD"></ion-input>
  </ion-card>

  <ion-title text-center>
    <ion-button expand="small" color="light">login</ion-button>
    <ion-button expand="small" color="light" routerLink="/home">home</ion-button>
  </ion-title>

</ion-content>