<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <table style="width:100%" text-center>
      <th colspan="25">แบบบันทึกปริมาณภาระงาน</th>
      <tr>
        <th rowspan="2">วันที่</th>
        <th rowspan="2">เวร</th>
        <th colspan="5">จำนวนผู้ป่วยแต่ละประเภท (MED-ESI)</th>
        <!-- <th colspan="5">จำนวนชั่วโมงการพยาบาลเฉลี่ยต่อราย</th> -->
        <!-- <th rowspan="2">รวมผู้ป่วยต่อวัน</th>
        <th colspan="3">สถานะ</th>
        <th colspan="3"> จำนวน RN เฉลี่ยต่อวัน</th>
        <th rowspan="2">รวม จนทต่อวัน</th>
        <th rowspan="2"> ชั่วโมงการพยาบาลเฉลี่ย</th>
        <th rowspan="2">ชั่วโมงการทำงาน</th>
        <th rowspan="2">อัตรากำลังที่หน่วยต้องการ</th>
        <th rowspan="2">Productivity (คิดรายเวร)</th>
        <th rowspan="2">Productivity (เฉลี่ย)</th> -->

      </tr>

      <tr text-center>
        <th style="background-color:rebeccapurple">1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>


        <!-- <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th> -->

        <!-- <th>Admit</th>
        <th>Refer</th>
        <th>จำหน่าย</th>

        <td>เช้า</td>
        <td>บ่าย</td>
        <td>ดึก</td>
         -->


      </tr>


      <tr text-center *ngFor='let data of listtimework'>
        <td>{{data.date_time}}</td>
        <td>{{data.statustime}}</td>
        <td>{{data.resuscitation}}</td>
        <td>{{data.emergent}}</td>
        <td>{{data.urgent}}</td>
        <td>{{data.less_urgent}}</td>
        <td>{{data.non_urgent}}</td>
        

<!-- 
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td> -->

        <!-- <td>100</td>

        <td>1</td>
        <td>1</td>
        <td>1</td>
        

        <td rowspan="3">3</td>
        <td rowspan="3">3</td>
        <td rowspan="3">2</td>
        
        

        <td rowspan="3">8</td>

        <td>0.79</td>
        <td>0.75</td>
        <td>4.40</td>
        <td>104.76</td>
        <td>146.90</td>
         -->


      </tr>

      <tr text-center>
        <!-- <th>บ่าย</th>
        <td>44</td>
        <td>55</td>
        <td>44</td>
        <td>55</td>
        <td>55</td>

        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>

        <td>40</td>

        <td>2</td>
        <td>2</td>
        <td>2</td>

        <td>0.79</td>
        <td>0.75</td>
        <td>4.40</td>
        <td>104.76</td>
        <td>146.90</td> -->

      </tr>

      <tr text-center>
        <!-- <th>ดึก</th>
        <td>Jackson</td>
        <td>94</td>
        <td>44</td>
        <td>55</td>
        <td>55</td>

        <td>n</td>
        <td>n</td>
        <td>n</td>
        <td>n</td>
        <td>n</td>

        <td>30</td>

        <td>3</td>
        <td>3</td>
        <td>3</td>

        <td>0.79</td>
        <td>0.75</td>
        <td>4.40</td>
        <td>104.76</td>
        <td>146.90</td> -->
      </tr>

      <tr text-center>



      </tr>
    </table>

  </ion-card>
</ion-content>