<ion-header>
  <ion-toolbar>
    <ion-title>dataadmin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card text-center>
    <ion-row>
      <ion-col><label>ID</label></ion-col>
      <ion-col><label>NAMEFULL</label></ion-col>
      <ion-col><label>NICNAME</label></ion-col>
      <ion-col><label>E-MAIL</label></ion-col>
      <ion-col><label>PHONE NUMBER</label></ion-col>
      <ion-col><label>EDIT</label></ion-col>
    </ion-row>

    <ion-row *ngFor='let data of listadmin'>
      <ion-col><label>{{data.id_admin}}</label></ion-col>
      <ion-col><label>{{data.usernameadmin}}</label></ion-col>
      <ion-col><label>{{data.nameadmin}}</label></ion-col>
      <ion-col><label>{{data.emailadmin}}</label></ion-col>
      <ion-col><label>{{data.teladmin}}</label></ion-col>
      <ion-col>
        <ion-button (click)="getid(data.id_admin)">Update </ion-button>
      </ion-col>
    </ion-row>

  </ion-card>

 




</ion-content>