<ion-header>
  <ion-toolbar>
    <ion-title>dataadmin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-row>
      <ion-col><label>ID</label></ion-col>
      <ion-col><label>NAME</label></ion-col>
      <ion-col><label>E-MAIL</label></ion-col>
      <ion-col><label>PHONE NUMBER</label></ion-col>
      <ion-col><label>EDIT</label></ion-col>
      <ion-col><label>EDIT</label></ion-col>
    </ion-row>

    <ion-row *ngFor='let data of listadmin'>
      <ion-col><label>{{data.id_admin}}</label></ion-col>
      <ion-col><label>{{data.nameadmin}}</label></ion-col>
      <ion-col><label>{{data.emailadmin}}</label></ion-col>
      <ion-col><label>{{data.teladmin}}</label></ion-col>
      <ion-col>
        <ion-button color="primary" (click)="getSutdentById(data.id_student)"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" (click)="deleteidStudent(data.id_student)"></ion-button>
      </ion-col>


    </ion-row>

  </ion-card>

</ion-content>