<ion-header>
  <ion-toolbar>
    <ion-title>updateuser2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label position="stacked">ID</ion-label>
    <ion-input type="text" fill="outline" disabled [(ngModel)]="ans.id_user"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">PASSWORD</ion-label>
    <ion-input type="text" fill="outline" [(ngModel)]="ans.password_user"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">NAMEFULL</ion-label>
    <ion-input type="text" fill="outline" [(ngModel)]="ans.username_user"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">NICNAME</ion-label>
    <ion-input type="text" fill="outline" [(ngModel)]="ans.name_user"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">EMAIL</ion-label>
    <ion-input type="text" fill="outline" [(ngModel)]="ans.email_user"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tel</ion-label>
    <ion-input type="text" fill="outline" [(ngModel)]="ans.tel_user"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="updateUser(ans.id_user)">Update</ion-button>
  </ion-item>
  

</ion-content>
