<ion-header>
  <ion-toolbar>
    <ion-title>CREATE USER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
<br><br><br>
  <ion-col>
    <ion-label>:: ID USER ::</ion-label>
    <ion-input placeholder="กรุณากรอกข้อมูล"></ion-input>
  </ion-col><br>
  <ion-col>
    <ion-label>:: USERNAME ::</ion-label>
    <ion-input placeholder="กรุณากรอกข้อมูล"></ion-input>
  </ion-col><br>
  <ion-col>
    <ion-label>:: PASSWORD ::</ion-label>
    <ion-input placeholder="กรุณากรอกข้อมูล"></ion-input>
  </ion-col><br>
  <ion-col>
    <ion-label>:: FULL NAME ::</ion-label>
    <ion-input placeholder="กรุณากรอกข้อมูล"></ion-input>
  </ion-col><br>
  <ion-col>
    <ion-label>:: EMAIL ::</ion-label>
    <ion-input placeholder="กรุณากรอกข้อมูล"></ion-input>
  </ion-col><br>
  <ion-col>
    <ion-label>:: TEL ::</ion-label>
    <ion-input placeholder="กรุณากรอกข้อมูล"></ion-input>
  </ion-col><br>
  <ion-col>
    <ion-button>เพิ่มผู้ใช้</ion-button>
  </ion-col><br>



</ion-content>