<ion-header>
  <ion-toolbar>
    <ion-title>datauser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card text-center>
    <ion-row>
      <ion-col><label>ID</label></ion-col>
      <ion-col><label>NAMEFULL</label></ion-col>
      <ion-col><label>NICNAME</label></ion-col>
      <ion-col><label>E-MAIL</label></ion-col>
      <ion-col><label>PHONE NUMBER</label></ion-col>
      <ion-col><label>EDIT</label></ion-col>
      <ion-col><label>DELETE</label></ion-col>

    </ion-row>

    <ion-row *ngFor='let data of listuser'>
      <ion-col><label>{{data.id_user}}</label></ion-col>
      <ion-col><label>{{data.username_user}}</label></ion-col>
      <ion-col><label>{{data.name_user}}</label></ion-col>
      <ion-col><label>{{data.email_user}}</label></ion-col>
      <ion-col><label>{{data.tel_user}}</label></ion-col>
      <ion-col>
        <ion-button (click)="getiduser(data.id_user)">Update </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="deleteUser(data.id_user)">DELETE </ion-button>
      </ion-col>

   


    </ion-row>

  </ion-card>
<ion-card>
  <ion-col>
    <ion-button routerLink="/datapass">เพิ่มข้อมูลภาระงาน</ion-button>
  </ion-col>
  <ion-col>
    <ion-button routerLink="/list">ดูตารางภาระงาน</ion-button>
  </ion-col>
<ion-col>
  <ion-button routerLink="/timetable">ตารางปฏิบัติงาน</ion-button>
</ion-col>
</ion-card>
</ion-content>