<ion-header>
  <ion-toolbar>
    <ion-title>datauser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card text-center>
    <ion-row>
      <ion-col><label>ID</label></ion-col>
      <ion-col><label>NAME</label></ion-col>
      <ion-col><label>E-MAIL</label></ion-col>
      <ion-col><label>PHONE NUMBER</label></ion-col>
      <ion-col><label>EDIT</label></ion-col>

    </ion-row>

    <ion-row *ngFor='let data of listuser'>
      <ion-col><label>{{data.id_user}}</label></ion-col>
      <ion-col><label>{{data.name_user}}</label></ion-col>
      <ion-col><label>{{data.email_user}}</label></ion-col>
      <ion-col><label>{{data.tel_user}}</label></ion-col>

      <ion-col>
        <ion-button (click)="getidU(data.id_user)">Update </ion-button>
    </ion-col>

    </ion-row>

  </ion-card>
</ion-content>
